<div class="card">
  	<div class="card-body">
		<div class="row">
	      <div class="col-md-8">
	        <h2>Редактировать библиотеку</h2>
	      </div>
	      <div class="col-md-4 text-right">
	        <%= link_to 'Назад к библиотеке', library_path(@library), class:'right btn waves-effect waves-light btn-primary' %>
	      </div>
	    </div>
		<%= render 'form' %>
	</div>
</div>